@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins,
        serif;
}

#header {
    padding: 0.5rem 2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #caf0f8;
    width: 100%;
}
label {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    white-space: nowrap;
}

input {
    margin-bottom: 0.75rem;
}

#footer {
    background-color: #caf0f8;
    text-align: right;
    padding: 1.25rem;
}

#header-img {
    width: 300px;
    height: 40px;
}

#nav-bar a {
    margin-left: 2rem;
}

#container {
    margin-top: 120px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
}

#content-section {
    display: flex;
    margin: 2rem;
}

#content-section h6 {
    font-size: 1.25rem;
}

#icon {
    display: flex;
    justify-content: center;
    
    width: 100px;
}

i {
    color: #03045e;
}

#content {
    width: 70%;
    margin: 2rem auto 0;
    padding: 2rem;
}

#text {
    margin-left: 1.5rem;
}

@media screen and (max-width:1300px) {
    #content {
        width: 90%;
    }
}

#card {
    border: 4px solid #03045e;
    margin: 2rem 1rem;
    width: 300px;
    height: 300px;
    background-color: #caf0f8;
}
#card h3 {
    background-color: #48cae4;
    text-align: center;
    padding: 0.5rem;
}
#card button {
    background-color: #03045e;
    color: white;
    padding: 0.5rem 2rem;
    display: block;
    margin: 0 auto;
    margin-top: 0.75rem;
}

#card h1 {
    text-align: center;
    margin: 1rem;
}

#card p {
    text-align: center;
}

#card-section {
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
    #card-section {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:730px) {
    #header {
        flex-direction: column;
    }
}

#video-section {
    display: flex;
    justify-content: center;
}

iframe {
    max-width: 560px;
    width: 100%;
}